* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 16px;
    background-color: #ccc; 
}

.nav-btn {
    font-size: 20px;
    font-weight: bold;
}

/* HOME */
.section {
    width: 500px;
    height: 100%;
    padding: 20px;
    background-color: #ccc;
    margin: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.7);
}
.nav-btn {
    padding: 10px 20px;
}

#intro {
    text-align: justify;
}

#time p, #location p{
}

.title-content {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;

}

.author-intro {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
}

.para-content {
}

/* MENU */
.img-section {
    width: 400px;
}


/* ABOUT */
.section-about {
    text-align: justify;
}

.desc-about {
    margin: 12px;
}